<div class="questions">
    <div class="question__item" tabindex="{{indexQuestion + 1}}" *ngFor="let question of questions; let indexQuestion = index">
        <div class="question__title">{{indexQuestion + 1}}. {{question.title}}</div>
        <div class="question__choose">
            <label              
                class="question__answer" 
                *ngFor="let item of question.answers; let indexAnswers = index"
                [ngClass]="{'question__answer_active' : answer.checked == true}">
                    <div>{{item.answer}}</div>
                    <input 
                        #answer
                        tabindex="-1"
                        class="question__radio" 
                        type="radio" 
                        name="{{question.name}}{{indexQuestion}}" 
                        value="{{indexAnswers}}"                 
                        (change)="cheked__Answer()">         
            </label>
        </div>
    </div>
    <div class="result">
        <button class="btn-submit" (click)="show__Result()">Result</button>
    </div>   
    <div class="popup" [ngClass]="{'popup_visible' : this.popup}" (click)="hide__Popup()">
        <div class="popup__result">{{resultText}}</div>
    </div>
</div>